/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-datepicker
 *= require dropzone
 *= require_tree .
 *= require_self
 */
.new-submit {margin-top: 40px;}
.heading {padding-left: 2rem;}
.new-stockist {margin: 2% 0 0 0%;}
#map {width: 600px; height: 600px; margin: 6% 0 0 2%;}
.submit-btns {
  position: absolute; right: 0px; left: 0px;
  button {position: relative; float: left; margin-left: 40px;}
}
.product-links {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}
.product-video-row {
  display: flex;
  align-items: center;
  &.product-show-video-row {
    align-items: flex-start;
  }
}
.datepicker {
  position:  absolute;
  background: #fff;
  border: 1px solid #c4cdd5;
  box-shadow: inset 0 1px 0 0 rgba(99,115,129,.05);
  border-radius: 3px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: box-shadow,border-color;
  transition-property: box-shadow,border-color;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.64,0,.35,1);
}
.stockist-spacer {margin: 16px 20px;}
.view-orders {margin: 10px 0 0 0;}
.Polaris-Select--placeholder .Polaris-Select__Input {color:#000;}
#new_import {display: none;}
.Polaris-Checkbox__Icon.checked {
  -webkit-transform: translate(-50%,-50%) scale(1);
  transform: translate(-50%,-50%) scale(1);
}
#product-types {
  display: none; margin-left: 5%;
  &.shown {display: block;}
}
